@font-face {
  font-family: 'pe-gestures-icons';
  src: url("../fonts/pe-gestures-icons.eot?-7ja21z");
  src: url("../fonts/pe-gestures-icons.eot?#iefix-7ja21z") format("embedded-opentype"), url("../fonts/pe-gestures-icons.woff?-7ja21z") format("woff"), url("../fonts/pe-gestures-icons.ttf?-7ja21z") format("truetype"), url("../fonts/pe-gestures-icons.svg?-7ja21z#pe-gestures-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="pe-ge-"], [class*=" pe-ge-"] {
  font-family: 'pe-gestures-icons';
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.75em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="pe-ge-"].pe-li, [class*=" pe-ge-"].pe-li {
  top: -0.14285714285714285em;
}

.pe-ge-double-tap-2f-f:before {
  content: "\e600";
}

.pe-ge-double-tap-2f:before {
  content: "\e601";
}

.pe-ge-double-tap-f:before {
  content: "\e602";
}

.pe-ge-double-tap:before {
  content: "\e603";
}

.pe-ge-move-f:before {
  content: "\e604";
}

.pe-ge-move:before {
  content: "\e605";
}

.pe-ge-pinch-all-f:before {
  content: "\e606";
}

.pe-ge-pinch-all:before {
  content: "\e607";
}

.pe-ge-pinch-f:before {
  content: "\e608";
}

.pe-ge-pinch:before {
  content: "\e609";
}

.pe-ge-press-2f-f:before {
  content: "\e60a";
}

.pe-ge-press-2f:before {
  content: "\e60b";
}

.pe-ge-press-5s-2f-f:before {
  content: "\e60c";
}

.pe-ge-press-5s-2f:before {
  content: "\e60d";
}

.pe-ge-press-5s-f:before {
  content: "\e60e";
}

.pe-ge-press-5s:before {
  content: "\e60f";
}

.pe-ge-press-f:before {
  content: "\e610";
}

.pe-ge-press:before {
  content: "\e611";
}

.pe-ge-scroll-down-2f-f:before {
  content: "\e612";
}

.pe-ge-scroll-down-2f:before {
  content: "\e613";
}

.pe-ge-scroll-down-3f-f:before {
  content: "\e614";
}

.pe-ge-scroll-down-3f:before {
  content: "\e615";
}

.pe-ge-scroll-down-4f-f:before {
  content: "\e616";
}

.pe-ge-scroll-down-4f:before {
  content: "\e617";
}

.pe-ge-scroll-up-2f-f:before {
  content: "\e618";
}

.pe-ge-scroll-up-2f:before {
  content: "\e619";
}

.pe-ge-scroll-up-3f-f:before {
  content: "\e61a";
}

.pe-ge-scroll-up-3f:before {
  content: "\e61b";
}

.pe-ge-scroll-up-4f-f:before {
  content: "\e61c";
}

.pe-ge-scroll-up-4f:before {
  content: "\e61d";
}

.pe-ge-spread-all-f:before {
  content: "\e61e";
}

.pe-ge-spread-all:before {
  content: "\e61f";
}

.pe-ge-spread-f:before {
  content: "\e620";
}

.pe-ge-spread:before {
  content: "\e621";
}

.pe-ge-swipe-down-2f-f:before {
  content: "\e622";
}

.pe-ge-swipe-down-2f:before {
  content: "\e623";
}

.pe-ge-swipe-down-f:before {
  content: "\e624";
}

.pe-ge-swipe-down:before {
  content: "\e625";
}

.pe-ge-swipe-h-2f-f:before {
  content: "\e626";
}

.pe-ge-swipe-h-2f:before {
  content: "\e627";
}

.pe-ge-swipe-h-3f-f:before {
  content: "\e628";
}

.pe-ge-swipe-h-3f:before {
  content: "\e629";
}

.pe-ge-swipe-h-4f-f:before {
  content: "\e62a";
}

.pe-ge-swipe-h-4f:before {
  content: "\e62b";
}

.pe-ge-swipe-h-f:before {
  content: "\e62c";
}

.pe-ge-swipe-h:before {
  content: "\e62d";
}

.pe-ge-swipe-left-2f-f:before {
  content: "\e62e";
}

.pe-ge-swipe-left-2f:before {
  content: "\e62f";
}

.pe-ge-swipe-left-f:before {
  content: "\e630";
}

.pe-ge-swipe-left:before {
  content: "\e631";
}

.pe-ge-swipe-right-2f-f:before {
  content: "\e632";
}

.pe-ge-swipe-right-2f:before {
  content: "\e633";
}

.pe-ge-swipe-right-f:before {
  content: "\e634";
}

.pe-ge-swipe-right:before {
  content: "\e635";
}

.pe-ge-swipe-up-2f-f:before {
  content: "\e636";
}

.pe-ge-swipe-up-2f:before {
  content: "\e637";
}

.pe-ge-swipe-up-f:before {
  content: "\e638";
}

.pe-ge-swipe-up:before {
  content: "\e639";
}

.pe-ge-swipe-v-2f-f:before {
  content: "\e63a";
}

.pe-ge-swipe-v-2f:before {
  content: "\e63b";
}

.pe-ge-swipe-v-3f-f:before {
  content: "\e63c";
}

.pe-ge-swipe-v-3f:before {
  content: "\e63d";
}

.pe-ge-swipe-v-4f-f:before {
  content: "\e63e";
}

.pe-ge-swipe-v-4f:before {
  content: "\e63f";
}

.pe-ge-swipe-v-f:before {
  content: "\e640";
}

.pe-ge-swipe-v:before {
  content: "\e641";
}

.pe-ge-tap-2f-f:before {
  content: "\e642";
}

.pe-ge-tap-2f:before {
  content: "\e643";
}

.pe-ge-tap-f:before {
  content: "\e644";
}

.pe-ge-tap:before {
  content: "\e645";
}

.pe-ge-touch-f:before {
  content: "\e646";
}

.pe-ge-touch:before {
  content: "\e647";
}
